implementation/ai-agent/jasper9_ai_agent_workflow.json
[{"createdAt":"2025-02-04T19:29:02.775Z","updatedAt":"2025-02-04T19:38:17.000Z","id":"uAC7D7v2zQbZGQov","name":"Jasper9 Project Data AI Agent","active":true,"nodes":[{"parameters":{"path":"jasper9/chat","authentication":"basicAuth","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"When chat message received","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1280,540],"webhookId":"cb397230-394e-4b60-b2b7-9e7bcdd351bf","credentials":{"httpBasicAuth":{"id":"557cMRIjxQbY5crn","name":"Unnamed credential"}}},{"parameters":{"assignments":{"assignments":[{"name":"chatInput","type":"string","value":"={{ $json.body?.chatInput || $json.chatInput }}"},{"name":"sessionId","type":"string","value":"={{ $json.body?.sessionId || $json.sessionId }}"},{"name":"projectId","type":"string","value":"={{ $json.body?.projectId }}"}]},"options":{}},"id":"set-input-fields","name":"Set Input Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,540]},{"parameters":{"tableName":"jasper9_chat_histories"},"id":"postgres-chat-memory","name":"PostgreSQL Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[2580,780],"credentials":{"postgres":{"id":"zfQACNoJeUPoLr2o","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"={{ 'SELECT * FROM jasper9_schema.projects WHERE id = \\'' + $json.projectId + '\\' LIMIT 1;' }}","additionalFields":{}},"id":"postgres-tool","name":"PostgreSQL Tool","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[2700,400],"credentials":{"postgres":{"id":"zfQACNoJeUPoLr2o","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"set-project-fields","name":"Set Project Fields","type":"n8n-nodes-base.set","typeVersion":2,"position":[2920,400]},{"parameters":{"options":{}},"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[3380,540]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2200,400],"id":"eb1b3cb9-ad8a-49e0-9eaf-2d6702a3b103","name":"AI Agent"},{"parameters":{"model":"llama3-groq-tool-use:70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2240,620],"id":"e92141ae-ebf9-46e4-88cd-372bd2150e3d","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"rXnKkTP6I4yDf23e","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Set Input Fields","type":"main","index":0}]]},"Set Input Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"PostgreSQL Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"PostgreSQL Tool":{"main":[[{"node":"Set Project Fields","type":"main","index":0}]]},"Set Project Fields":{"main":[[{"node":"OpenAI Chat Model","type":"tools","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"PostgreSQL Tool","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":true,"saveManualExecutions":true,"executionTimeout":3600,"timezone":"UTC"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ab6a95a-d1a1-4fa8-ba6b-d3f2a1d524e1","triggerCount":1,"tags":[]}]