workflows/n8n/chat_workflow.json
[
    {
        "createdAt": "2025-02-06T05:11:19.000Z",
        "updatedAt": "2025-02-06T05:11:19.000Z",
        "id": "chat-workflow",
        "name": "AI Chat with Ollama",
        "active": true,
        "nodes": [
            {
                "parameters": {
                    "path": "chat",
                    "httpMethod": "POST",
                    "options": {
                        "rawBody": true
                    }
                },
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1,
                "position": [250, 300],
                "webhookId": "chat-webhook",
                "id": "chat-trigger-node"
            },
            {
                "parameters": {
                    "operation": "insert",
                    "tableId": "chat_conversations",
                    "columns": {
                        "session_id": "={{ $json.body.session_id }}",
                        "user_input": "={{ $json.body.message }}",
                        "ai_response": "=Test Response",
                        "context": "={{ '' }}"
                    }
                },
                "name": "Store Conversation",
                "type": "n8n-nodes-base.supabase",
                "typeVersion": 1,
                "position": [450, 300],
                "id": "store-conversation-node",
                "credentials": {
                    "supabaseApi": {
                        "id": "Oooa6C0xTEskKAlL",
                        "name": "Supabase account"
                    }
                }
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ {success: true, message: 'Data stored successfully'} }}",
                    "options": {}
                },
                "name": "Response",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [650, 300],
                "id": "response-node"
            }
        ],
        "connections": {
            "Webhook": {
                "main": [[{"node": "Store Conversation", "type": "main", "index": 0}]]
            },
            "Store Conversation": {
                "main": [[{"node": "Response", "type": "main", "index": 0}]]
            }
        },
        "settings": {
            "saveExecutionProgress": true,
            "saveManualExecutions": true,
            "executionTimeout": 3600,
            "timezone": "UTC"
        },
        "staticData": null,
        "tags": [],
        "triggerCount": 0
    }
]
