workflows/n8n/supabase_test.json
[{"createdAt":"2025-02-05T23:26:03.337Z","updatedAt":"2025-02-05T23:40:13.000Z","id":"iHtrX0S2DTuBEM2O","name":"Supabase Tasks Test","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"create-task","authentication":"","responseMode":"responseNode","options":{"rawBody":true}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[250,300],"id":"44662b0b-8b3a-4be0-b78e-f32f7a8fd19d","webhookId":"2842b753-5cf1-45f0-962f-1ee957ac990a"},{"parameters":{"tableId":"tasks","fieldsUi":{"fieldValues":[{"fieldId":"title","fieldValue":"={{ $json.body.title }}"},{"fieldId":"description","fieldValue":"={{ $json.body.description }}"}]}},"name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[450,300],"id":"df86a150-1634-495d-a86f-bdd5674384ef","credentials":{"supabaseApi":{"id":"Oooa6C0xTEskKAlL","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {success: true, task: $json} }}","options":{}},"name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,300],"id":"45575674-091f-4ac0-bf2c-d9a08a154b0b"}],"connections":{"Webhook":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0649288e-1fa2-4cf3-a6a3-afd09e872f28","triggerCount":1,"tags":[]}]