workflows/n8n/supabase_chat.json
[{
    "name": "Supabase Chat Storage",
    "nodes": [
        {
            "parameters": {
                "path": "chat",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-node",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [250, 300]
        },
        {
            "parameters": {
                "operation": "insert",
                "tableId": "chat_conversations",
                "columns": {
                    "session_id": "={{ $json.body.session_id }}",
                    "user_input": "={{ $json.body.message }}",
                    "ai_response": "=Test Response",
                    "context": "={{ '' }}"
                }
            },
            "id": "supabase-node",
            "name": "Store in Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [450, 300],
            "credentials": {
                "supabaseApi": {
                    "id": "Oooa6C0xTEskKAlL",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "success",
                            "value": "true"
                        },
                        {
                            "name": "message",
                            "value": "Data stored successfully"
                        }
                    ]
                }
            },
            "id": "set-node",
            "name": "Set Success Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [650, 300]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "response-node",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [850, 300]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Store in Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store in Supabase": {
            "main": [
                [
                    {
                        "node": "Set Success Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Success Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "id": "supabase-chat"
}]
